.header__slider-container {
  margin-right: 110px;
  min-width: 0;
  width: 440px;
  height: 400px;
  background-image: url("../../../images/Group 391.png");
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1023px) {
  .header__slider-container {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .header__slider-container {
    width: 220px;
    height: 200px;
    background-size: contain;
  }
}